CALLCENTER_BRIDGE_API_TOKEN=change-me
CALLCENTER_BRIDGE_PANEL_WEBHOOK_URL=
CALLCENTER_BRIDGE_PANEL_WEBHOOK_TOKEN=
CALLCENTER_BRIDGE_STATE_ROOT=/var/lib/asterisk/issabel-module-state/callcenter_bridge
CALLCENTER_BRIDGE_DB_DSN=mysql:unix_socket=/var/lib/mysql/mysql.sock;dbname=call_center;charset=utf8
CALLCENTER_BRIDGE_DB_USER=root
CALLCENTER_BRIDGE_DB_PASSWORD=iSsAbEl.2o17
CALLCENTER_BRIDGE_SOURCE=issabel-callcenter
CALLCENTER_BRIDGE_HTTP_TIMEOUT=10
CALLCENTER_BRIDGE_CAMPAIGN_CONTEXT_CACHE_TTL_SECONDS=15
CALLCENTER_BRIDGE_LOG_RELAY_TIMINGS=0
